<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1>Add a Product</h1>
    <form action="/products" method="POST">
      <label for="name" id="name">Product Name</label
      ><input type="text" name="name" placeholder="product name" />
      <label for="price" id="price">Price (Unit)</label
      ><input type="number" name="price" placeholder="" />
      <label for="category" id="category">Select Category</label
      ><select name="category">
        <% for(let c of categories ){ %>
        <option value="<%=c%>"><%= c %></option>
        <%} %>
      </select>
      <button>Submit</button>
    </form>
    <a href="/products">Cancel</a>
  </body>
</html>
